@model ass2.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientReferenceNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientReferenceNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceFileNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceFileNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourtFileNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourtFileNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SWCFileNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SWCFileNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskAssessmentAssigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskAssessmentAssigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbuserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbuserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfChildUnderSix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfChildUnderSix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfChildUnderTwelve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfChildUnderTwelve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfChildUnderEighteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfChildUnderEighteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastTransferred)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastTransferred)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateClosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReopened)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReopened)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
