<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The Good Samaritan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
                    { 
                    <li class="dropdown">
                        <a id="menu1" data-toggle="dropdown">
                            Lookup Tables
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation">@Html.ActionLink("FiscalYears", "Index", "FiscalYears", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("RiskLevels", "Index", "RiskLevels", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("Crises", "Index", "Crises", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("Services", "Index", "Services", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("Programs", "Index", "Programs", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("RiskStatuses", "Index", "RiskStatuses", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("AssignedWorkers", "Index", "AssignedWorkers", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("ReferralSources", "Index", "ReferralSources", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("ReferralContacts", "Index", "ReferralContacts", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("Incidents", "Index", "Incidents", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("AbuserRelationships", "Index", "AbuserRelationships", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("VictimOfIncidents", "Index", "VictimOfIncidents", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("FamilyViolenceFiles", "Index", "FamilyViolenceFiles", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("Ethnicities", "Index", "Ethnicities", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("Ages", "Index", "Ages", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("RepeatClients", "Index", "RepeatClients", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("DuplicateFiles", "Index", "DuplicateFiles", new { id = 1 }, new { role = "menuitem" })</li>
                            <li role="presentation">@Html.ActionLink("StatusOfFiles", "Index", "StatusOfFiles", new { id = 1 }, new { role = "menuitem" })</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a id="menu2" data-toggle="dropdown">
                            Smart Lookup Tables
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                            <li role="presentation"> @Html.ActionLink("SexWorkExploitations", "Index", "SexWorkExploitations", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("MultiplePerpetrators", "Index", "MultiplePerpetrators", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("DrugFacilitatedAssaults", "Index", "DrugFacilitatedAssaults", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("CityOfAssaults", "Index", "CityOfAssaults", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("CityOfResidences", "Index", "CityOfResidences", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("ReferringHospitals", "Index", "ReferringHospitals", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("HospitalAttendeds", "Index", "HospitalAttendeds", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("SocialWorkAttendances", "Index", "SocialWorkAttendances", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("PoliceAttendances", "Index", "PoliceAttendances", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("VictimServicesAttendances", "Index", "VictimServicesAttendances", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("MedicalOnlies", "Index", "MedicalOnlies", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("EvidenceStoreds", "Index", "EvidenceStoreds", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("HIVMeds", "Index", "HIVMeds", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("ReferredtoCBVS", "Index", "ReferredtoCBVS", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("PoliceReporteds", "Index", "PoliceReporteds", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("ThirdPartyReports", "Index", "ThirdPartyReports", new { id = 1 }, new { role = "menuitem" }) </li>
                            <li role="presentation"> @Html.ActionLink("BadDateReports", "Index", "BadDateReports", new { id = 1 }, new { role = "menuitem" }) </li>
                        </ul>
                    </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
